.container-fluid{
    display: grid;
    gap:1rem;
}
.item-fluid{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    background-color: red;
    color: white;
}
.square{
    vertical-align: middle;
}
#app{
    display: flex;
}
.gridnav{
    display: grid;
}
.appGrid-Elememnt{
    display: flexbox;
}
#footerDiv{
    padding: 2vh;
    background-color:#0B3C5D;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 90vh;
}
#article01{
    flex-direction: row;
    width: auto;
    padding: 2vh;
    margin: auto;
}

ul li a{
    color: white;
}

#menu01{
    background-color: white;
    color:#328cc1;
    z-index: 4;
}
#menu01 :hover{
    color:#328cc1;
}
#menu01 ul li a{
    color:  #205879;
}
#menu-content{
    margin:auto;
    z-index: 9;
}
#menu-list{
    margin: auto;
    margin-left: 4vh;
    z-index: 9;
}
.nav-item{
    margin-top: 2vh;
}
#searchbt{
    margin-top: 2vh;
    border: none;
    background: none;
    padding: 0;
}
.grayNav{
    background-color:#0B3C5D;
    width: 100%;
    height: 3vh;
    margin-top: -7vh;
    margin-left: 0vh;
    position: absolute;
    z-index: 5;
    margin-top: -1vh;
    position: fixed;
}

.shadowBody{
    z-index: 99;
    width: 100%;
    position: fixed;
    color: white;
    -webkit-box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
    box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
}

.carousel {
    width: 210vh;
    margin-left: -2vh;
    background:#007aeb;
  }
  .carousel-item .img-fluid {
    width:290vh;
  }
  .carousel-item a {
    display: block;
    width:100%;
  }
.backImages{
    background-color: black;
    opacity: 0.6;
    border-radius: 2vh;
}
.imgHeight{
    height: 40vh;
}
#baseArticle1{
    margin-left: 10vh;
}
.card-define{
    border-radius: 4vh;
}

.card-img{
    border-radius: 4vh 4vh 0vh 0vh;
}
.card{
    float: left;
}

.logo-shadow{
    -webkit-box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
-moz-box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
}

.articleContainer{
    border-radius: 2vh;
}
.searchBox-disible{
    visibility: hidden;
    width: 0vh;
}
.searchBox-Active{
    visibility: visible;
    border-radius: 1vh;
    margin-right: 2vh;
    border: #328cc1 solid 0.4vh;
}
.searchBox-Active:focus{
    border: #0B3C5D solid 0.4vh;
    outline: none;
    animation: SearchBox;
    animation-duration: 3s;
    transition: 2s;
}

.card-text,.card-title{
    color:#328cc1
}

#footerMain,#aboutFooter,#corp{
    color: #d98310;
}

.padingNavItem{
    margin: auto;
    margin-left: -10vh;
}
.padingNavItem  li{
    margin-left: 20vh;
} 
.carousel-control-prev{
    margin-left: 1vh;
}
.carousel-control-next{
    margin-right: 15vh;
}
.carousel-caption{
    width: 169vh;
    margin-left: -18vh;
}

/* responsividade*/

.imgResponsive{
    width: 100%;
    height: auto;
}
@media (max-width:450px){
    #article01{
        margin-left: -6vh;
    }
    #footerDiv{
        height: 60vh;
        margin-top: 260vh;
    }
    #carousel{
        margin-top: 10vh;
    }
    .carousel-caption{
        margin-left: -60vh;
        font-size: small;
    }
    .carousel-caption p{
        width: 32vh;
        margin-left: 70vh;
    }
    .carousel-control-next {
        margin-top: 9vh;
        margin-right: 2vh;
    }
    .carousel-control-prev{
        margin-top: 9vh;
        margin-left: 5vh;
    }
    .carousel-item{
        margin-top: 8vh;
    }
}
/*Para quando for deitar o celular*/
@media (max-height:450px){
    #footerDiv{
        height: 120vh;
        margin-top: 460vh;
    }
    footer{
        margin-left: 10vh;
    }
}

/*Animations*/
@keyframes SearchBox{
    0% {opacity: 0; width: 10vh; }
    100%{opacity: 2; width: 100%;}
}
