
#footerDiv{
    padding: 2vh;
    background-color:#0B3C5D;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 2vh;
}
#article01{
    display: flex;
    flex-direction: row;
    width: 198vh;
    padding: 2vh;
    margin: auto;
}

ul li a{
    color: white;
}

#menu01{
    background-color: white;
    color:#328cc1;
    z-index: 4;
}
#menu01 :hover{
    color:#328cc1;
}
#menu01 ul li a{
    color:  #205879;
}
#menu-content{
    margin:auto;
    z-index: 9;
}
#menu-list{
    margin: auto;
    margin-left: 4vh;
    z-index: 9;
}
.grayNav{
    background-color:#0B3C5D;
    width: 100%;
    height: 3vh;
    margin-top: -7vh;
    margin-left: 0vh;
    position: absolute;
    z-index: 5;
    margin-top: -1vh;
    position: fixed;
}

.shadowBody{
    z-index: 99;
    width: 100%;
    position: fixed;
    color: white;
    -webkit-box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
    box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
}

.carousel {
    width: 210vh;
    margin-left: -2vh;
    background:#007aeb;
  }
  .carousel-item .img-fluid {
    width:290vh;
  }
  .carousel-item a {
    display: block;
    width:100%;
  }
.backImages{
    background-color: black;
    opacity: 0.6;
    border-radius: 2vh;
}
.imgHeight{
    height: 40vh;
}
#baseArticle1{
    margin-left: 10vh;
}
.card-define{
    border-radius: 4vh;
}

.card-img{
    border-radius: 4vh 4vh 0vh 0vh;
}

.logo-shadow{
    -webkit-box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
-moz-box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
}

.articleContainer{
    border-radius: 2vh;
}
.searchBox-disible{
    visibility: hidden;
    width: 0vh;
}
.searchBox-Active{
    visibility: visible;
    border-radius: 1vh;
    margin-right: 2vh;
    border: #328cc1 solid 0.4vh;
}
.searchBox-Active:focus{
    border: #0B3C5D solid 0.4vh;
    outline: none;
    animation: SearchBox;
    animation-duration: 3s;
    transition: 2s;
}

.card-text,.card-title{
    color:#328cc1
}

#footerMain,#aboutFooter,#corp{
    color: #d98310;
}

.padingNavItem{
    margin: auto;
    margin-left: -10vh;
}
.padingNavItem  li{
    margin-left: 20vh;
} 

/* responsividade*/

@media (max-width:1093px) and (min-width:990px){
    .padingNavItem  li{
        margin-left: 10vh;
    } 
    .padingNavItem{
        margin: auto;
        margin-left: 14vh;
    }
    .carousel{
        width: 170vh;
        margin-left: -7vh;
        background:#007aeb;
      }
      #article01{
        margin-left: 20vh;
        flex-direction: column;
        width: 160vh;
    }  
}
@media(max-width:986px) and (min-width:702px){
    #carousel{
        width: 100%;
        margin-top: 10vh;
        position: absolute;
        background:#007aeb;
    }
    #article01{
        width: 180vh;
        margin-top: 50vh;
        margin-left: -13vh;
    }
}
@media (min-width:360px) and (max-width:500px){
    #carousel{
        width: 100%;
        margin-top: 10vh;
        margin-left: -3vh;
        position: absolute;
      }
      .carousel-caption div h2{
          font-size:small
      }
      .carousel-caption div p{
        font-size: small;
    }
    .shadowBody{
        color:white;
    }
    #article01{
        width: 10vh;
        margin-top: 29vh;
        margin-left: -8vh;
    }
}

@media (min-width:501px) and (max-width:598px){

    #carousel{
        width: 100%;
        margin-top: 10vh;
        position: absolute;
      }
      .carousel-caption div h2{
          font-size:small
      }
      .carousel-caption div p{
        font-size: small;
    }
    .shadowBody{
        color:white
    }
    #article01{
        width: 10vh;
        margin-top: 45vh;
        margin-left: 10vh;
    }
}

@media (min-width:600px) and (max-width:700px){

    #carousel{
        width: 100%;
        margin-top: 10vh;
        position: absolute;
      }
      .carousel-caption div h2{
          font-size:small
      }
      .carousel-caption div p{
        font-size: small;
    }
    .shadowBody{
        color:white
    }
    #article01{
        width: 10vh;
        margin-top: 45vh;
        margin-left: 14vh;
    }
}
@media (min-width:210px) and (max-width:359px){
    #carousel{
        width: 100%;
        margin-top: 10vh;
        position: absolute;
      }
      .carousel-caption div h2{
          margin-top: 2vh;
          font-size:small
      }
      .carousel-caption div p{
          margin-top: -2vh;
        font-size: small;
    }
    .shadowBody{
        color:white
    }
    #article01{
        width: 10vh;
        margin-top: 32vh;
        margin-left: -9vh;
    }
}
/*Media Para celulares deitados*/ 
@media (max-height:640px) and (min-width:360px){
    #carousel{
        width: 240vh;
        margin-left: -7vh;
        margin-top: 10vh;
        position: absolute;
      }
      .carousel-caption div h2{
          margin-top: 2vh;
          font-size:small
      }
      .carousel-caption div p{
          margin-top: -2vh;
        font-size: small;
    }
    .shadowBody{
        color:white
    }
    #article01{
        width: 260vh;
        margin-top: 105vh;
        margin-left: 10vh;
    }
}

/*Animations*/
@keyframes SearchBox{
    0% {opacity: 0; width: 10vh; }
    100%{opacity: 2; width: 100%;}
}