body{
    background-color: #1D2731;
}
#footerDiv{
    padding: 2vh;
    background-color:#0B3C5D;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 2vh;
}
#article01{
    display: flex;
    flex-direction: row;
    background-color: #1f6c99;
    width: 198vh;
    padding: 2vh;
    margin: auto;
}

ul li a{
    color: white;
}

#menu01{
    background-color: white;
    color:#328cc1
}
#menu01 :hover{
    color:#205879
}
#menu01 ul li a{
    color: #328cc1;
}

.shadowBody{
    z-index: 99;
    width: 100%;
    position: fixed;
    color: white;
    -webkit-box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
    box-shadow: 0px 21px 20px 2px rgba(0,0,0,0.74);
}

.carousel {
    width: 210vh;
    margin-left: -2vh;
    background:#007aeb;
  }
  .carousel-item .img-fluid {
    width:290vh;
  }
  .carousel-item a {
    display: block;
    width:100%;
  }
.backImages{
    background-color: black;
    opacity: 0.6;
    border-radius: 2vh;
}
.imgHeight{
    height: 40vh;
}
#baseArticle1{
    margin-left: 10vh;
}
.card-define{
    border-radius: 4vh;
}

.card-img{
    border-radius: 4vh 4vh 0vh 0vh;
}

.logo-shadow{
    -webkit-box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
-moz-box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
box-shadow: -1px 18px 19px -4px rgba(0,0,0,0.67);
}

.articleContainer{
    border-radius: 2vh;
    background-color: #cee2ee;
}
.searchBox-disible{
    visibility: hidden;
    width: 0vh;
}
.searchBox-Active{
    visibility: visible;
    border-radius: 1vh;
    margin-right: 2vh;
    border: #328cc1 solid 0.4vh;
}
.searchBox-Active:focus{
    border: #0B3C5D solid 0.4vh;
    outline: none;
}


/* responsividade*/

@media (max-width:990px){
    .carousel{
      width: 150vh;
      margin-left: -7vh;
      background:#007aeb;
    }
    #article01{
        flex-direction: column;
        width: 140vh;
    }
    #logoMain{
        visibility: hidden;
    }
}

@media (max-width:600px){
    .carousel{
      width: auto;
      position: absolute;
      margin-top: 10vh;
    }
    #article01{
        margin-top: 40vh;
        width: 60vh;
    }
    #logoMain{
        visibility: hidden;
    }
}
